* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: Bemount;
    src: url(../font/Bemount.otf)
}

.header {
    background: #020024;
    background: linear-gradient(35deg, #020024 0%, #090979 23%, #ffffff 100%);
}

.container {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.logo {
    margin: 10px;
    float: left; 
}
.logo_name {
    padding: 20px 20px 20px 5px;
    font-family: Bemount;
    font-size: 30px;
    color: #ffffff;
    float: left;
}

.head_logo_down {
    padding: 15px;
    display: flex;
    float: left;

}

.up_position {
    position: fixed;
    z-index: 100;
    background: #090979;
    background: linear-gradient(90deg, rgba(9,9,121,1) 4%, rgba(254,254,254,0) 50%);
    width: 100%;   
}

fieldset {
    border-style: outset;
    border-color: #9696f9;
}

.wrapper {
    padding-top: 80px;
}

li {
    display: inline-block;
    margin: 20px 0px 10px;
    text-align: center;
    font-size: 10px;
    
}
.links_down li {
    padding: 0 30px 0;
}
.links a {
    text-decoration: none; 
    padding: 10px;     
}
.links a:hover {
    background: #090979;
    background: linear-gradient(360deg, #0d0dc83e 23%, #dbe1ec09 100%);

}
form button {
    padding: 10px 30px;
    background-color: #d23c3c;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 50px;
}
form button:hover {
    background: rgb(200,39,39);
    background: linear-gradient(360deg, rgba(200,39,39,1) 13%, rgba(246,116,116,1) 100%);
}
table {
    padding: 30px;
}
.text_head  {
    width: 670px;
    padding-right: 15px;
    text-align: right;
    color: #1c1717;  
    font-size: 17px;
    font-weight: bolder;
}

.text_inside {
    width: 670px;
    height: auto;
    padding: 3px 50px 3px 100px;
    text-align: left;
    color: #1c1717;  
    font-size: 15px;
    font-weight: bolder;
}

.half {
    border-radius: 5px;
    width: 100px;
    height: 20px;
    padding: 7px 7px 7px 17px;
    margin: 6px;
}

input, select {
    border-radius: 5px;
    width: 450px;
    height: 20px;
    padding: 7px 7px 7px 17px;
    margin: 6px;
}

#checkbox {
    width: 30px;
    padding: 0;
    margin-top: 10px;
}

h1 {
    font-family: Bemount;
    font-size: 70px;
    width: max-content;
    margin: 0 auto;
}
h2 {
    font-size: 27px;
    text-align: center;
    margin: 5px 30px;
}

h3 {
    font-family: Bemount;
    font-size: 25px;
    color: #090979;
    width: max-content;
    margin: 0 auto;
    padding: 20px;
}
p  {
    font-size: 15px; 
    display: block;
}

.advantages li {
    display: block;
    text-align: center;
    font-size: 14px;
}
.table_down {
    padding-bottom: 80px;
}

footer {
    width: auto;
    height: 100px;
    margin: 0 auto -10px;
    background: #090979;
    padding: 0;
    font-family: Bemount;
    font-size: 30px;
    color: #ffffff;
    text-align-last: center;
    min-height: calc(100% - 85px);
}
a {
    font-weight: bolder;
    font-size: 10px;
    display: block;
    text-decoration: none;
}
